h1:first-child:hover{
    background-color: seagreen;
}

h1{
    text-align: center;
}

body{
    background: #00c3ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h1{
    color:white;
}

.contenedor{
    color:red;

}

.def{
    text-align: center;
}