body{
    background: #1E9600;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin: 0;
    padding: 0;
}

.contenedor{
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin:10px auto;
    padding: 10px;
    width: 80%;
}

h1{
    text-align: center;
}

li{
    border:1px solid #dddddd;
    list-style-type: none;
    margin: 1px 50px 2px 0;
    padding: 5px 10px;
}

li:nth-child(odd)
{
    background: white;
    color: red;
}

h1{
    color:whitesmoke
}

*{
    color:white;
}